.neo-brutalist-next-btn {
  display: flex !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  justify-content: center !important;
  align-items: center !important;
  border-width: 4px !important;
  border-color: #000000 !important;
  font-weight: 700 !important;
  color: #000000 !important;
  background-color: #34d399 !important;
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  /* Preference: shorter transition-duration */
  transition-duration: 300ms !important;
  width: 50% !important;
  margin-left: 0.25rem !important;
  height: 2rem !important;
}

.neo-brutalist-next-btn:hover {
  background-color: #10b981 !important;
  transform: translate(0.25rem, 0.25rem) !important;
}

.neo-brutalist-prev-btn {
  display: flex !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  flex: 1 1 0% !important;
  gap: 0.5rem !important;
  justify-content: center !important;
  align-items: center !important;
  border-width: 4px !important;
  border-color: #000000 !important;
  font-weight: 700 !important;
  color: #000000 !important;
  background-color: #60a5fa !important;
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 300ms !important;
  width: 50% !important;
  margin-right: 0.25rem !important;
  height: 2rem !important;
}

.neo-brutalist-prev-btn:hover {
  background-color: #3b82f6 !important;
  transform: translate(0.25rem, 0.25rem) !important;
}

.neo-brutalist-popover-modal {
  padding: 2rem !important;
  border-width: 4px !important;
  border-color: #000000 !important;
  background-color: #ffffff !important;
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
  font-weight: 700 !important;
  color: #1f2937 !important;
  border-style: solid !important;
  width: 50% !important;
}

.neo-brutalist-popover-title {
  font-size: 2.25rem !important;
  line-height: 2.5rem !important;
  font-weight: 900 !important;
  line-height: 1.25 !important;
  color: #000000 !important;
}

.neo-brutalist-popover-text {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
  font-weight: 700 !important;
  color: #1f2937 !important;
}

.neo-brutalist-close-button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-width: 3px !important;
  border-color: #000000 !important;
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
  font-weight: 700 !important;
  color: #ffffff !important;
  background-color: #ef4444 !important;
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 300ms !important;
  transition-duration: 150ms !important;
  border-style: solid !important;
  margin-top: 0.5rem !important;
  right: 0.5rem !important;
  height: 8% !important;
  width: 8% !important;
  border-radius: 2px !important;
}

.neo-brutalist-close-button:hover {
  background-color: #dc2626 !important;
  transform: translate(0.25rem, 0.25rem) !important;
}
